body{
    background-color: midnightblue;
    color: white;
    font-family: InterVariable, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Liberation Sans', Helvetica, Arial, sans-serif;
}

.even{
    color: aqua;
}

.odd{
    color: dodgerblue;
}

.even#evenLegend{
    display: inline;
}