body{
    background-color: midnightblue;
    color: white;
    font-family: InterVariable, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Liberation Sans', Helvetica, Arial, sans-serif;
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.explanation{
    display: flex;
    width: 80vw;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.interactive__heading{
    text-align: center;
    width: 100%;
}

.interactive__input{
    display: inline-block;
    text-align: left;
}

#output{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
}

.even{
    color: aqua;
}

.odd{
    color: dodgerblue;
}

.even#evenLegend{
    display: inline;
}